@using System.Security.Claims;

<h2>ASP.NET Core Authentication</h2>

<p>You've reached <strong>home</strong> page at @DateTime.Now.ToString()</p>

<a asp-controller="Account" asp-action="Logout">Logout</a>

@if (!User.Identities.Any(u => u.IsAuthenticated))
{
    <h1>Not autenticated</h1>
}
else
{
    <h1>
        Hello @User.Identities.First(u => u.IsAuthenticated && u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value
    </h1>
}